{% extends 'base.html' %}


{% block head %}

{% endblock %}


{% block body %}

    <ul>
        <li><a href="/">Home</a></li>
        <li><a class="active" href="/add">Add engine</a></li>
        <li><a href="/list">List engines</a></li>
        <li><a href="/get">Get recommendations</a></li>
    </ul>

    <div class="content">
        <h1>Add engine</h1>
        <form action="/add" method="POST">
            Name:<br>
            <input type="text" name="name" required><br>
            Use data from:<br>
            <input type="date" name="train_start">
            Algorithm:<br>
            <select name="algorithm">
                <option value="random">Random</option>
                <option value="top-items">Top items</option>
                <option value="content-based">Content based</option>
                <option value="collaborative-filtering">Collaborative filtering</option>
            </select>
            <br><br>

            <input type="submit" value="Save">
        </form>
    </div>
{% endblock %}