<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %} {% endblock %}
</head>
<body>
    {% block body %} {% endblock %}

    {% if success %}
        <p><b>{{ success }} ✅</b></p>
    {% endif %}

    {% if error %}
        <p><b>{{ error }} ❌</b></p>
    {% endif %}
</body>
</html>