{% extends 'base.html' %}


{% block head %}

{% endblock %}


{% block body %}

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/add">Add engine</a></li>
        <li><a href="/list">List engines</a></li>
        <li><a class="active" href="/get">Get recommendations</a></li>
    </ul>

    <h1>Get recommendations</h1>
    <form action="/get" method="POST">
        Engine name:<br>
        <input type="text" name="engine_name" required>
        Email:<br>
        <input type="text" name="email">
        Number of recommendations:
        <input type="number" name="count" required>
        <br><br>
        <input type="submit" value="Get recommendations">
    </form><br>

    {% if recos %}
    <table>
        <tr>
            <th>Engine name</th>
            <th>Product ID</th>
        </tr>
        {% for reco in recos %}
            <tr>
                <td>{{ engine_name }}</td>
                <td>{{ reco }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

{% endblock %}