{% extends 'base.html' %}


{% block head %}

{% endblock %}


{% block body %}

    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/add">Add engine</a></li>
        <li><a href="/list">List engines</a></li>
        <li><a href="/get">Get recommendations</a></li>
    </ul>

    <h1>Flask & SQL workshop</h1>

    <h2>Agenda</h2>
    <ol>
        <li>Motivation</li>
        <li>Web development basics</li>
        <li>Flask basics</li>
        <li>SQL</li>
        <li>Hands on</li>
        <li>Q&A</li>
    </ol>

{% endblock %}