{% extends 'base.html' %}


{% block head %}

{% endblock %}


{% block body %}

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/add">Add engine</a></li>
        <li><a class="active" href="/list">List engines</a></li>
        <li><a href="/get">Get recommendations</a></li>
    </ul>


    <h1>Saved engines</h1>

    <table>
        <tr>
            <th>Engine name</th>
            <th>Algorithm</th>
            <th>Train from</th>
        </tr>
        {% for engine in engines %}
            <tr>
                <td>{{ engine.name }}</td>
                <td>{{ engine.algorithm }}</td>
                <td>{{ engine.train_start }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}